<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/bench/src/main/java/org/vanilladb/bench/server/StartUp.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.vanilladb.bench.server.StartUp"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="DB1 1"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bench"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=target/classes/java/util/logging/logging.properties&#10;-Dorg.vanilladb.bench.config.file=target/classes/org/vanilladb/bench/vanillabench.properties&#10;-Dorg.vanilladb.core.config.file=target/classes/org/vanilladb/core/vanilladb.properties&#10;-Dorg.vanilladb.comm.config.file=target/classes/org/vanilladb/calvin/vanillacomm.properties"/>
</launchConfiguration>
